* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  background: #000;
  font-family: 'VT323', monospace;
  overflow: hidden;
  color: white;
  cursor: none;
  --x: 50vw;
  --y: 50vh;
}

.flashlight-mask {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle 18vmax at var(--x) var(--y), rgba(255, 255, 255, 0.15), #000 90%);
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4vw;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.reveal {
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 1.1rem;
  pointer-events: none;
  padding-left: 1rem;
}

.flashlight-mask:hover .reveal {
  opacity: 0.05;
  pointer-events: auto;
}

.reveal:hover {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.secret-link {
  text-decoration: none;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
  font-size: 1.1rem;
  padding-left: 1rem;
}

.flashlight-mask:hover .secret-link {
  opacity: 0.05;
}

.secret-link:hover {
  opacity: 1;
  color: #00ff00;
  text-shadow: 0 0 4px #00ff00, 0 0 8px #00ff00;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32"><text y="20" font-size="20" fill="lime">▍</text></svg>') 0 0, auto;
  text-decoration: none;
}

.underscore {
  position: absolute;
  bottom: 20px;
  left: 25px;
  font-size: 6rem;
  color: white;
  opacity: 0.6;
}
